@media print {
  input, button, h3 {
    display: none;
  }

  body {
    margin: 0;
  }

}

.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

svg {
  padding: 20px;
  padding-bottom: 20px;
  align-self: center;
  width: 300px;
}

input {
  height: 20px;
  margin: 4px;
}

button {
  padding: 8px;
  margin: 8px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(42, 42, 139);
}