@media print {
  input, button, h3 {
    display: none;
  }

  body {
    margin: 0;
  }

}

.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Barcodes {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  max-height: 80vh;
}

.Col {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: auto;
}

.Inputs {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  padding-right: 16px;
}

svg {
  align-self: center;
  width: 800px;
  height: 100%;
}

span {
  padding-top: 30px;
  font-size: 20px;
}

input {
  height: 20px;
  margin: 4px;
}

button {
  padding: 8px;
  margin: 8px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(42, 42, 139);
}